@model LayoutViewModel

<div class="nav-bar">
    <div class="container">
        <nav class="top-bar navbar-expand-lg">

            <h1>
                <a class="navbar-brand" href="/">
                    <img class="top-bar-logo" src="/images/favicon.png" alt="logo">
                </a> 
                @Model.Title
            </h1>
            <p>@Model.Subtitle</p>

            <div class="collapse navbar-collapse top-bar-nav">
                <ul class="navbar-nav">
                    @foreach (var item in Model.MenuItems)
                    {
                        <li class="nav-item">
                            <a class="nav-link top-bar-nav-link" href="@item.Url">
                                @item.Name
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div id="mobile-menu" class="navbar-toggler">
            </div>
        </nav>
    </div>
</div>
