@inherits UmbracoViewPage<LayoutViewModel<StartPageViewModel>>

<div>
    <p><label>Title</label>: @Model.ViewModel.Title </p>
    <p><label>MainBody</label>: @Model.ViewModel.MainBody </p>
    <p><label>FooterText</label>: @Model.ViewModel.FooterText <br /></p>
</div>